h1{
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
}
h2{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    background-color: chartreuse;
}